:root{
    
    /*primary colors*/

    --primary-bright-organe: hsl(31, 77%, 52%);
    --primary-dark-cyan: hsl(184, 100%, 22%);
    --primary-very-dark-cyan: hsl(179, 100%, 13%);

    /*neutral colors*/

    /*paragraphs*/
    --neutral-white: hsla(0, 0%, 100%, 0.75);

    /*background, headings, buttons*/   
    --neutral-very-light-gray: hsl(0, 0%, 95%);

    /*typography*/
    --font-size: 15px;

    /*fonts and weigths*/

    /*heading*/
    --font-family-one: "Big Shoulders Display", sans-sarif;
    --weight-700: 700;

    /*paragraph and button*/
    --font-family-two: "Lexend Deca", sans-sarif;
    --weight-400: 400;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--neutral-very-light-gray);
    display: grid;
    place-items: center;
}

main{
    max-width: 80%;
    padding: 10% 0;
}

section{
    height: 33.33%;
    padding: 2rem;
}

.sedan-section{
    background-color: var(--primary-bright-organe);
    border-radius: 0.5rem 0.5rem 0 0;
}

.suv-section{
    background-color: var(--primary-dark-cyan);
}

.luxury-section{
    background-color: var(--primary-very-dark-cyan);
    border-radius: 0 0 0.5rem 0.5rem;
}

img{
    width: 33.33%;
}

h1, p{
    color: var(--neutral-very-light-gray);
}

p, a{
    font-family: var(--font-family-two);
}

h1{
    font-family: var(--font-family-one);
    text-transform: uppercase;
    font-size: xx-large;
    letter-spacing: 0.15ch;
    font-weight: var(--weight-700);
    padding: 2rem 0;
}

p{
    line-height: 1.5rem;
}

a{
    display: inline-block;
    background-color: var(--neutral-very-light-gray);
    border-radius: 1.25rem;
    padding: 0.625rem 1.25rem;
    text-transform: capitalize;
    text-decoration: none;
    place-items: left;
    margin-top: 5rem;
}

/*  ========================
    non-active links colors
    ======================== */

.sedanLink{
    color: var(--primary-bright-organe);
}

.suvLink{
    color: var(--primary-dark-cyan);
}

.luxuryLink{
    color: var(--primary-very-dark-cyan);
}

/*  ===================
    active links colors
    =================== */

.sedanLink:hover,
.sedanLink:focus{
    background-color: var(--primary-bright-organe);
    color: var(--neutral-very-light-gray);
    outline: 0.5px solid var(--neutral-very-light-gray);
    transition: 1s;
}

.suvLink:hover,
.suvLink:focus{
    background-color: var(--primary-dark-cyan);
    color: var(--neutral-very-light-gray);
    outline: 0.5px solid var(--neutral-very-light-gray);
    transition: 1s;
}

.luxuryLink:hover,
.luxuryLink:focus{
    background-color: var(--primary-very-dark-cyan);
    color: var(--neutral-very-light-gray);
    outline: 0.5px solid var(--neutral-very-light-gray);
    transition: 1s;
}

@media screen and (min-width: 480px){
    main{ 
       max-width: 60%;
    }

    section{
        float: left;
        width: 33.3333%;
    }

    p{
        margin-right: 1.5rem;
    }

    .sedan-section{
        border-radius: 0.5rem 0 0 0.5rem;
    }
    
    .luxury-section{
        border-radius: 0 0.5rem 0.5rem 0;
    }
}