:root{

    /*=================
    colors
    =================*/

    /*=================
    primary colors
    =================*/

    --primary-bright-organe: hsl(31, 77%, 52%);
    --primary-dark-cyan: hsl(184, 100%, 22%);
    --primary-very-dark-cyan: hsl(179, 100%, 13%);

    /*=================
    nerutral colors
    =================*/

    /*================
    paragraphs
    ================*/

    --neutral-white: hsla(0, 0%, 100%, 0.75);

    /*=============================
    background, headings, buttons
    =============================*/

    --neutral-very-light-gray: hsl(0, 0%, 95%);

    /*================
    typography
    ================*/

    --font-size: 0.9375rem;

    /*================
    fonts and weigths
    ================*/

    /*================
    headings
    ================*/

    --font-family-one: "Big Shoulders Display", sans-sarif;
    --weight-700: 700;

    /*=====================
    paragraphs and buttons
    =====================*/

    --font-family-two: "Lexend Deca", sans-sarif;
    --weight-400: 400;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--neutral-very-light-gray);
    font-size: var(--font-size);
    width: 100vw;
    height: 100vh;
}

body,
main{
    display: grid;
    place-items: center;
}

article{
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    max-height: 80vh;
}

section{
    padding: 2rem;
}

/*===================
sedan-section
===================*/
.sedan-section{
    background-color: var(--primary-bright-organe);
    border-radius: 0.5rem 0.5rem 0 0;
}

/*===================
suv-section
===================*/
.suv-section{
    background-color: var(--primary-dark-cyan);
}

/*===================
luxury-section
===================*/
.luxury-section{
    background-color: var(--primary-very-dark-cyan);
    border-radius: 0 0 0.5rem 0.5rem;
}

img{
    width: 33.33%;
}

p, a{
    font-family: var(--font-family-two);
}

h1{
    color: var(--neutral-very-light-gray);
    font-family: var(--font-family-one);
    text-transform: uppercase;
    font-size: xx-large;
    letter-spacing: 0.15ch;
    font-weight: var(--weight-700);
    padding: 2rem 0;
}

p{
    color: var(--neutral-white);
    line-height: 1.5rem;
}

a{
    display: inline-block;
    background-color: var(--neutral-very-light-gray);
    border-radius: 1.25rem;
    padding: 0.625rem 1.25rem;
    text-transform: capitalize;
    text-decoration: none;
    margin-top: 1rem;
}

/*======================
non-active link states
======================*/
.sedanLink{
    color: var(--primary-bright-organe);
}

.suvLink{
    color: var(--primary-dark-cyan);
}

.luxuryLink{
    color: var(--primary-very-dark-cyan);
}

/*======================
active link states
======================*/
a:hover,
a:focus{
    color: var(--neutral-very-light-gray);
    outline: 0.5px solid var(--neutral-very-light-gray);
    transition: 1s;
}

.sedanLink:hover,
.sedanLink:focus{
    background-color: var(--primary-bright-organe);
}

.suvLink:hover,
.suvLink:focus{
    background-color: var(--primary-dark-cyan);

}

.luxuryLink:hover,
.luxuryLink:focus{
    background-color: var(--primary-very-dark-cyan);
}

@media screen and (min-width: 600px){
    article{
        display: flex;
        flex-direction: row;
        width: 60vw;
    }

    img{
        width: 20%;
    }

    p{
        margin-bottom: 2rem; 
    }

    .sedan-section{
        border-radius: 0.5rem 0 0 0.5rem;
    }

    .luxury-section{
        border-radius: 0 0.5rem 0.5rem 0;
    }
}